In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'D:\Final submission\PowerBI\Quality-Analysis\Dataset\winequality-red.csv')

In [3]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [6]:
df['quality'].value_counts()

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64

In [7]:
df['quality'] = df['quality'].map({5: 'SULA RASA',
                                   6:'MYRA MISFIT',
                                   7:'FRATELLI SETTE',
                                   4:'GROVE ZAMPA LA RESERVE',
                                   8:'YORK ARROS',
                                   3:'KRSMA SANGIOVESE'})

In [8]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,SULA RASA
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,SULA RASA
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,SULA RASA
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,MYRA MISFIT
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,SULA RASA

In [9]:
df['quality'].value_counts()

SULA RASA                 681
MYRA MISFIT               638
FRATELLI SETTE            199
GROVE ZAMPA LA RESERVE     53
YORK ARROS                 18
KRSMA SANGIOVESE           10
Name: quality, dtype: int64

In [10]:
# Let's save back the notebook 

df.to_csv('redwinequality.csv')

In [11]:
df.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64